{% extends 'main.html' %}
<!-- {% include 'navbar.html'%} -->


{% block content %}
<style>
    /* gave 1:3 so that Browsw Topics take one part */
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>
<div class="home-container">
    <div>
        <h3>Browse Topics</h3>
        <hr>
        <div>
            <a href="{% url 'home' %}">All</a>
        </div>
        {% for topic in topics %}
            <div>
                <!-- send him to home/q=topic name , added in params in top-->
                <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
            </div>
        {%endfor%}
    </div>
    <div>
        <h5>{{room_count}} Total Rooms Found</h5>
        <a href="{% url 'create-room' %}">Create Room</a>
        <div>
            {%for room in rooms %}
                <div>
                    <a href="{% url 'update-room' room.id%}">EDIT THIS ROOM</a>
                    <a href="{% url 'delete-room' room.id%}">DELETE</a>
                    <!-- go to /room/room.id for a href -->
                    <!-- remember kii /room/ means isi web ka /room/ -->
                    <!-- <h5>{{room.id}} --<a href="/room/{{room.id}}">{{room.name}}</a> </h5> -->
                    <!-- accessing by name -->
                    <!-- span added later on when I was operating with DB -->
                    <span>@{{room.host.username}}</span>
                    <h5>{{room.id}} --<a href="{% url 'room' room.id%}">{{room.name}}</a> </h5>
                    <small>{{room.topic.name}}</small>
                    <hr>
                </div>
            {% endfor%}
        </div>
    </div>

</div>
{% endblock content %}