{% extends 'main.html' %}
<!-- {% include 'navbar.html'%} -->


{% block content %}
<style>
    /* gave 1:3 so that Browsw Topics take one part */
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>
<div class="home-container">
    <div>
        {% include 'base/topics_component.html'%}
    </div>
    <div>
        <h5>{{room_count}} Total Rooms Found</h5>
        <a href="{% url 'create-room' %}">Create Room</a>
        {% include 'base/feed_component.html'%}

    </div>
    <div>
        {% include 'base/activity_component.html '%}
    </div>

</div>
{% endblock content %}