{% extends 'main.html' %}
<!-- {% include 'navbar.html'%} -->
{% block content %}
<!-- If you can see, this home template get added in container div wrt main -->

<div>
    <a href="{% url 'create-room'%}">Create Room</a>
    <div>
        {% for room in rooms %}
        <!-- 3 divs get created -->
        <div>
            <a href="{% url 'update-room' room.id%}">Edit</a>
            <a href="{% url 'delete-room' room.id%}">Delete</a>
            <span>@{{room.host.username}}</span>
            <h5>{{room.id}} ---<a href="{% url 'room' room.id%}">{{room.name}}</a></h5>
            <small>{{room.topic.name}}</small>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} -->
