<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>Welcome to the Home Page!</h1> -->
    {% extends 'main.html' %}
    {% block content %}
    <div>
        {% for room in rooms %}
        <div>
            <!-- to add mapping  -->
            <h5>
                <a href="{% url 'room' room.id%}">{{room.id}}--{{room.name}}</a>
            </h5>
        </div>
        {% endfor%}
    </div>
    {%endblock content %}
</body>
</html>